{% extends 'base.html'%}
{% block content %}
    <h3>update data</h3>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <form method="POST" action="">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Update" class="btn btn-success">
                    <a href="{% url 'add_show' %}" class="btn btn-primary">Go Back</a>

                </form>
            </div>
        </div>
    </div>

{% endblock %}